body{
  font-family: 'matrixmedium';
  src: url('matrix-webfont.woff2') format('woff2'),
    url('matrix-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
p{
  color: white;
  }
p:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa,0 0 92px #0fa;
  }
h1{
  color: white;
  }
h1:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa,0 0 92px #0fa;
  }
h3{
  color: white;
  }
h3:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa,0 0 92px #0fa;
  }
#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
